body {
  padding: 100px 0px 0px 0px;
  margin: 100px 0px 0px 0px;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Alberto', Helvetica, serif;
}

p {
  font-family: 'Livory';
}



footer {
  padding-top: 100px;
}

/***************************************/ 
/*      CSS format for nav-items       */
/***************************************/
.nav-item {
  font-family: 'Livory';
  font-weight: bold;
  color: black; /* for testing only, edit color later */
}

.nav-item:hover {
  color: white; /* for testing only, edit color later */
}

/***************************************/ 
/*   Animated Hamberger Toggler Icon   */
/***************************************/
.animated-icon3 span:nth-child(1) {
top: 0px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
top: 10px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
top: 20px;
-webkit-transform-origin: left center;
-moz-transform-origin: left center;
-o-transform-origin: left center;
transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
top: 0px;
left: 8px;
}

.animated-icon3.open span:nth-child(2) {
width: 0%;
opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
transform: rotate(-45deg);
top: 21px;
left: 8px;
}




