<div class="col col-12">
  <!-- begin article -->
  <div class="article">
    <div class="article-content">
      <div class="article-title">
        <a href="{{ post.url | prepend: site.baseurl }}" class="article-title-link">{{ post.title }}</a>
      </div>
      <p class="article-excerpt">
        {% if post.description %}
          {{ post.description }}
        {% else %}
          {{ post.content | strip_html | truncate: 250 }}
        {% endif %}
      </p>
      <div class="article-info">
        {% if post.tag.size >= 1 %}
          <span class="article-tag">
            posted in
            <a href="{{ site.baseurl }}/tag/{{ post.tag }}" class="article-tag-link">
              {{ post.tag }}
            </a>
          </span>
        {% endif %}
        <span class="article-meta">
          <span class="article-date"> 
            on 
            <a href="{{ post.url | prepend: site.baseurl }}" class="article-date-link">
              <time datetime="{{ post.date | date_to_xmlschema }}">
<!--                 {% assign date_format = site.minima.date_format | default: "%B %-d, %Y" %}
                {{ post.date | date: date_format }} -->
                {% assign m = page.date | date: "%-m" %}
                {{ page.date | date: "%-d" }}
                {% case m %}
                  {% when '1' %}Januar
                  {% when '2' %}Februar
                  {% when '3' %}M&auml;rz
                  {% when '4' %}April
                  {% when '5' %}Mai
                  {% when '6' %}Juni
                  {% when '7' %}Juli
                  {% when '8' %}August
                  {% when '9' %}September
                  {% when '10' %}Oktober
                  {% when '11' %}November
                  {% when '12' %}Dezember
                {% endcase %}
                {{ page.date | date: "%Y" }}
              </time>
            </a>
          </span>
        </span>
      </div>
    </div>
  </div>
  <!-- end article -->
</div>
