<style type="text/css">
  
  /* Holiday */
  @font-face {
    font-family: "Holiday";
    src: url(/css/font/Holiday-Regular.otf) format("opentype");
  }
  
  /* Alberto */
  @font-face {
    font-family: "Alberto";
    src: url(/css/font/Alberto-Regular.otf) format("opentype");
  }
  
  /* Downtown */
  @font-face {
    font-family: "Downtown";
    src: url(/css/font/Downtown-Regular.otf) format("opentype");
  }
  
  /* Livory */
  @font-face {
    font-family: "Livory";
    src: url(/css/font/Livory-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "Livory";
    src: url(/css/font/Livory-Bold.otf) format("opentype");
    font-weight: bold;
  }
  @font-face {
    font-family: "Livory";
    src: url(/css/font/Livory-Italic.otf) format("opentype");
    font-style: italic;
  }
</style>
