<!-- <div class="container">
  <div class="row">
    <div class="col col-12">
      <nav class="pagination">
        <div class="pagination__list">
          {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="previous-link" href="/"><i class="ion ion-ios-arrow-back"></i> Prev</a>
          {% else %}
            <a class="previous-link" href="/page/{{ paginator.previous_page }}/"><i class="ion ion-ios-arrow-back"></i>  Prev</a>
          {% endif %}
    
          {% else %}
            <span class="prev-disabled"><i class="ion ion-ios-arrow-back"></i> Prev</span>
          {% endif %}
    
          {% if paginator.next_page %}
            <a class="next-link" href="{{ site.baseurl }}/page/{{ paginator.next_page }}/">Next <i class="ion ion-ios-arrow-forward"></i></a>
          {% else %}
            <span class="next-disabled">Next <i class="ion ion-ios-arrow-forward"></i></span>
          {% endif %}
        </div>
      </nav>
    </div>
  </div>
</div> -->

<!-- <div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
 -->
